USE [master]
GO
/****** Object:  Database [Search History]    Script Date: 20/11/2019 12:02:24 ******/
CREATE DATABASE [Search History]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Search History', FILENAME = N'E:\SQL\MSSQL14.SQLEXPRESS\MSSQL\DATA\Search History.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Search History_log', FILENAME = N'E:\SQL\MSSQL14.SQLEXPRESS\MSSQL\DATA\Search History_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Search History].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Search History]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 20/11/2019 12:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[SearchID] [int] NOT NULL,
	[File Path] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Results] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Searches]    Script Date: 20/11/2019 12:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Searches](
	[SearchID] [int] IDENTITY(1,1) NOT NULL,
	[Search text] [nvarchar](255) NOT NULL,
	[Search folder] [nvarchar](255) NULL,
	[Time of search] [datetime2](0) NOT NULL,
	[Number of Results] [int] NOT NULL,
 CONSTRAINT [PK_Searches] PRIMARY KEY CLUSTERED 
(
	[SearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Searches] FOREIGN KEY([SearchID])
REFERENCES [dbo].[Searches] ([SearchID])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Searches]
GO
USE [master]
GO
